@import url(/css/reset.css);
html{
    font-size: 16px;
    font-family: 'Inter';
}


header {
    background-image: url(/images/THJJRUhNlEc.png);
    color: #ffff;
    margin-bottom: -22px;
}


.container {
    width: 750px;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgb(156, 156, 156);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 208px;
    padding: 0 2.625rem;
}

header .title {
    font-weight: 800;
    font-size: 2.7rem;
}

header .link a {
    color: #ffff;
    font-weight: 700;
    font-size: 0.875rem;
}




.search {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 2.625rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}


#search-input {
    height: 2.75rem;
    width: 80%;
    border: #D1D5DB solid 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 8px;
    font-size: 0.875rem;
    font-weight: 500;
    font-family: 'Inter';
}

#search-button {
    font-size: 0.875rem;
    background-color: #F9FAFB;
    color: #374151;
    width: 20%;
    border: #D1D5DB solid 1px;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

.placeholder h2 {
    color: #DFDDDD;
    font-size: 1.125rem;
    font-weight: 700;
    padding-top: 1rem;
}


#cards {
    padding: 1.625rem 2.75rem;
}

.card {
    display: flex;
    margin: 1.75rem 0 ;
}

.movie-image {
    height: 9.1875rem;
    width: 6.2875rem;
    margin-right: 1.25rem;
}

.card-description {
    display: flex;
    flex-direction: column;
    height: 147px;
    padding: 0.625rem 0;
}

.card-title {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem
}

.card-captions {
    color: #111827;
    font-size: 0.75rem;
    display: flex;
    margin-bottom: 0.5rem;
}

.card-text {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 142%;
    overflow-y: auto;
}


.movie-time,
.movie-genre{
    padding-right: 1.25rem;
}



.movie-name {
    font-size: 1.125rem;
    font-weight: 500;
    padding-right: 1.625rem;
}

.movie-rate {
    font-size: 0.75rem;
    color: #111827;
}

.movie-add, .movie-remove{
    display: flex;
    align-items: center;
}

.movie-add p, .movie-remove p{
    padding-left: 0.375rem;
}

.add-button, .remove-button{
    padding-right: 2px;
    align-self: center;
    line-height: 0;
}

.separator{
    height: 2px;
    background-color: rgb(220, 220, 220);
    width: 100%;
}

.message{
    color: #6B7280;
    line-height: 1.5rem;
    text-align: center;
    padding-top: 2rem;
}

@media (max-width: 460px){
    html{
        font-size: 25px;
    }
    .card-description{
        height: 250px;
    }
}